#java specific
*.class
*.jar

### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/.idea/
*.iws
*.iml
*.ipr

/logs

/version_1/build/
/version_1/out/
/version_1/logs/

/version_2/build/
/version_2/out/
/version_2/logs/

/version_3/build/
/version_3/out/
/version_3/logs/
