<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Travel Insurance Premium Calculator</title>
    <script>
        function addPerson() {
            let personsContainer = document.getElementById("persons-container");
            let index = document.getElementsByClassName("person-form").length;
            let personTemplate = `
                <div class="person-form">
                    <h3>Person ${index + 1}</h3>
                    <div>
                        <label for="persons[${index}].personFirstName">First Name:</label>
                        <input id="persons[${index}].personFirstName"
                                type="text"
                                name="persons[${index}].personFirstName"
                                title="Enter traveler first name"
                        />
                    </div>
                    <br>
                    <div>
                        <label for="persons[${index}].personLastName">Last Name:</label>
                        <input id="persons[${index}].personLastName"
                                name="persons[${index}].personLastName"
                                title="Enter traveler last name"
                        />
                    </div>
                    <br>
                    <div>
                        <label for="persons[${index}].personCode">Person Code:</label>
                        <input id="persons[${index}].personCode"
                                type="text"
                                name="persons[${index}].personCode"
                                title="Enter traveler personal code.  Format: 120120-09812"
                                pattern="d{6}-d{5}"
                        />
                    </div>
                    <br>
                    <div>
                        <label for="persons[${index}].personBirthDate">Birth Date:</label>
                        <input id="persons[${index}].personBirthDate"
                                type="date"
                                name="persons[${index}].personBirthDate"
                                title="Enter traveler birth date"
                        />
                    </div>
                    <br>
                    <div>
                        <label for="persons[${index}].medicalRiskLimitLevel">Medical Risk Limit Level:</label>
                        <input id="persons[${index}].medicalRiskLimitLevel"
                                type="text"
                                name="persons[${index}].medicalRiskLimitLevel"
                                title="Enter medical limit level"
                        />
                    </div>
                    <br>
                </div>`;
            personsContainer.insertAdjacentHTML('beforeend', personTemplate);
        }

        function removePerson() {
            let personsContainer = document.getElementById("persons-container");
            let personForms = document.getElementsByClassName("person-form");
            if (personForms.length > 0) {
                personsContainer.removeChild(personForms[personForms.length - 1]);
            }
        }
    </script>
</head>
<body>
<h1>Travel Insurance Premium Calculator</h1>
<form action="#" th:action="@{/insurance/travel/web/v3}" th:object="${request}" method="post">
    <div>
        <label for="agreementDateFrom">Agreement Date From:</label>
        <input id="agreementDateFrom"
               type="date"
               th:field="*{agreementDateFrom}"
               title="Enter travel start date"
        />
    </div>
    <br>
    <div>
        <label for="agreementDateTo">Agreement Date To:</label>
        <input id="agreementDateTo"
               type="date"
               th:field="*{agreementDateTo}"
               title="Enter travel end date"
        />
    </div>
    <br>
    <div>
        <label for="country">Country:</label>
        <input id="country"
               type="text"
               th:field="*{country}"
               title="Enter travel country"
        />
    </div>
    <br>
    <div>
        <label for="selectedRisks">Selected Risks:</label>
        <textarea id="selectedRisks"
                  title="Enter insurance risks (TRAVEL_MEDICAL, TRAVEL_TRIP_CANCELLATION, TRAVEL_LOSS_BAGGAGE, TRAVEL_THIRD_PARTY_LIABILITY, TRAVEL_EVACUATION, TRAVEL_SPORT_ACTIVITIES)"
                  th:field="*{selectedRisks}">
        </textarea>
    </div>
    <br>
    <div id="persons-container">
        <!-- PersonRequestDTO dynamic forms will be added here -->
        <div th:each="person, personStat : *{persons}">
            <div class="person-form">
                <h3>Person <span th:text="${personStat.index + 1}"></span></h3>
                <div>
                    <label for="personFirstName">First Name:</label>
                    <input th:field="*{persons[__${personStat.index}__].personFirstName}"
                           title="Enter traveler first name"
                           type="text"
                    />
                </div>
                </br>
                <div>
                    <label for="personLastName">Last Name:</label>
                    <input type="text"
                           th:field="*{persons[__${personStat.index}__].personLastName}"
                           title="Enter traveler last name"
                    />
                </div>
                </br>
                <div>
                    <label for="personCode">Person Code:</label>
                    <input type="text"
                           th:field="*{persons[__${personStat.index}__].personCode}"
                           title="Enter traveler personal code. Format: 120120-09812"
                           pattern="d{6}-d{5}"
                    />
                </div>
                </br>
                <div>
                    <label for="personBirthDate">Birth Date:</label>
                    <input type="date"
                           th:field="*{persons[__${personStat.index}__].personBirthDate}"
                           title="Enter traveler birth date"
                    />
                </div>
                </br>
                <div>
                    <label for="medicalRiskLimitLevel">Medical Risk Limit Level:</label>
                    <input type="text"
                           th:field="*{persons[__${personStat.index}__].medicalRiskLimitLevel}"
                           title="Enter medical limit level"
                    />
                </div>
                </br>
            </div>
        </div>
    </div>
    <br>
    <button type="button" onclick="addPerson()">Add Person</button>
    <button type="button" onclick="removePerson()">Remove Person</button>
    <button type="submit">Calculate Premium</button>
</form>



<td th:if="${response.persons != null}">
    <h3>Travel Insurance Premium Calculation PERSONS</h3>
    <div class="person-data" th:each="person : ${response.persons}">
        <h3 th:text="${person.personFirstName} + ' ' + ${person.personLastName}"></h3>
        <p th:text="'Person Code: ' + ${person.personCode}"></p>
        <p th:text="'Birth Date: ' + ${person.personBirthDate}"></p>
        <p th:text="'Medical Risk Limit Level: ' + ${person.medicalRiskLimitLevel}"></p>
        <p th:text="'Person Premium: ' + ${person.personPremium}"></p>
        <p>Risks:</p>
        <ul>
            <li th:each="risk : ${person.personRisks}" th:text="${risk.riskIc} + ': ' + ${risk.premium}"></li>
        </ul>
    </div>
</td>


<td th:if="${response.errors != null}">
    <h3>Travel Insurance Premium Calculation ERRORS</h3>
    <tr th:each="error : ${response.errors}">
        <td th:text="${error.errorCode}" />
        <td th:text="${error.description}" />
        <br>
        <br>
    </tr>
</td>

<br>

<h3>
    <label th:if="${response.agreementPremium != null}"
           th:text="'AGREEMENT PREMIUM: ' + ${response.agreementPremium}"></label>
</h3>

<br>

<button onclick="window.location.href='/insurance/travel/web/v3';">Clear Form</button>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var date = new Date();
    date.setDate(date.getDate() + 1); // Set to tomorrow's date

    var dateString = date.toISOString().split('T')[0]; // Format date as YYYY-MM-DD

    document.getElementById('agreementDateFrom').value = dateString; // Set the value of the date input
    document.getElementById('agreementDateTo').value = dateString; // Set the value of the date input
  });
</script>

</body>
</html>
