<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travel Insurance Premium Calculation</title>
</head>
<body>

<h1>Travel Insurance Premium Calculation</h1>

<form id="inputForm" action="/insurance/travel/web/v1"
      th:object="${request}"
      method="post">

    <label for="personFirstName">First Name:</label>
    <input id="personFirstName"
           type="text"
           th:field="${request.personFirstName}"
           title="Enter traveler first name" >
    <br><br>

    <label for="personLastName">Last Name:</label>
    <input id="personLastName"
           type="text"
           th:field="${request.personLastName}"
           title="Enter traveler last name">
    <br><br>

    <label for="personCode">Person Code:</label>
    <input id="personCode"
           type="text"
           th:field="${request.personCode}"
           pattern="\d{6}-\d{5}"
           title="Enter traveler personal code. Format: 120120-09812">
    <br><br>

    <label for="personBirthDate">Birth Date:</label>
    <input id="personBirthDate"
           type="date"
           th:field="${request.personBirthDate}"
           title="Enter traveler birth date">
    <br><br>

    <label for="agreementDateFrom">Agreement Date From:</label>
    <input id="agreementDateFrom"
           type="date"
           th:field="${request.agreementDateFrom}"
           title="Enter travel start date">
    <br><br>

    <label for="agreementDateTo">Agreement Date To:</label>
    <input id="agreementDateTo"
           type="date"
           th:field="${request.agreementDateTo}"
           title="Enter travel end date">
    <br><br>

    <label for="country">Country:</label>
    <input id="country"
           type="text"
           th:field="${request.country}"
           title="Enter travel country">
    <br><br>

    <label for="medicalRiskLimitLevel">Medical Risk Limit Level:</label>
    <input id="medicalRiskLimitLevel"
           type="text"
           th:field="${request.medicalRiskLimitLevel}"
           title="Enter medical limit level">
    <br><br>

    <label for="selectedRisks">Selected Risks:</label>
    <input id="selectedRisks"
           type="text"
           th:field="${request.selectedRisks}"
           title="Enter insurance risks (TRAVEL_MEDICAL, TRAVEL_TRIP_CANCELLATION, TRAVEL_LOSS_BAGGAGE, TRAVEL_THIRD_PARTY_LIABILITY, TRAVEL_EVACUATION, TRAVEL_SPORT_ACTIVITIES)">
    <br><br>

    <button type="submit">Calculate Premium</button>
</form>


<td th:if="${response.errors != null}">
    <h3>Travel Insurance Premium Calculation ERRORS</h3>
    <tr th:each="error : ${response.errors}">
        <td th:text="${error.errorCode}" />
        <td th:text="${error.description}" />
        <br>
        <br>
    </tr>
</td>

<br>

<h3>
    <label th:if="${response.agreementPremium != null}"
           th:text="'AGREEMENT PREMIUM: ' + ${response.agreementPremium}"></label>
</h3>

<br>

<td th:if="${response.risks != null}">
    <h3>Travel Insurance Premium Calculation RISKS</h3>
    <tr th:each="risk : ${response.risks}">
        <td th:text="${risk.riskIc}" />
        <td th:text="${risk.premium}" />
        <br>
    </tr>
</td>

<br>

<button onclick="window.location.href='/insurance/travel/web/v2';">Clear Form</button>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var date = new Date();

    date.setDate(date.getDate() + 1); // Set to tomorrow's date
    var dateString = date.toISOString().split('T')[0]; // Format date as YYYY-MM-DD
    document.getElementById('agreementDateFrom').value = dateString; // Set the value of the date input

    date.setDate(date.getDate() + 1);
    dateString = date.toISOString().split('T')[0];
    document.getElementById('agreementDateTo').value = dateString;
  });
</script>

</body>
</html>
